.categories {
  text-align: center;
  color: white;
  margin-bottom: 0.5rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customCard {
  background: rgb(255, 255, 255) !important;
}

p:link {
  color: black;
}

/* visited link */
p:visited {
  color: black;
}

/* mouse over link */
p:hover {
  color: black;
}

/* selected link */
p:active {
  color: black;
}

.categoryTitle {
  color: black;
}
