.home__image {
  width: 100%;

  /* margin-bottom: -150px; */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home {
  margin-top: 2.5em;
}

.home__carousel {
  z-index: -1;
}

.home__rows {
  margin-top: 25em;
}

main {
  background-color: rgba(8, 36, 53, 0.109);
}
