main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: black;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: black;
}

.rating span {
  margin: 0.1rem;
}

.header {
  height: 60px;
  align-items: center;
}

.form__label {
  color: black !important;
  background: rgb(246, 246, 255) !important;
}

.place__order {
  color: whitesmoke !important;
  background: rgb(246, 246, 255) !important;
}
